{% extends "base.html" %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <h4>Plans that work for your company</h4>
</div>

<div class="container">
<div class="card-deck mb-3 text-center">

{% for obj in object_list %}
<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">{{obj.name}}</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">${{obj.cost}} <small class="text-muted">/ mo</small></h1>
    <ul class="list-unstyled mt-3 mb-2">
    {% autoescape off %}
    {{ obj.description }}
    {% endautoescape %}
    {% if obj.name == "Basic" or obj.name == "Advanced" %}
      <li>&nbsp;</li>
    {% endif %}
   </ul>
   {% if obj.name == "Basic" %}
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-block btn-outline-primary mt-4">Sign up for free</a>
   {% else %}
      <a href="{% url 'purchase_plan' obj.id %}" class="btn btn-lg btn-block btn-outline-primary mt-4">Purchase</a>
   {% endif %}
  </div>
</div>
{% endfor %}

</div>

{% endblock %}
