{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>My Mail Merge</title>
    <link rel="icon" href="{% static '/images/MyMailMerge-Icon.png' %}" sizes="128x128">
    <link rel="stylesheet" href="{% static '/css/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
     .bg-red{
       background-color: #C80C0C !important;
     }
     .btn-outline-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
     }
     .container-banner{
       width: 100% !important;
       padding-left: 20px !important;
       padding-right: 20px !important;
       color: white;

     }
    </style>
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
      <a class="my-0 mr-md-auto text-white" href="{% url 'index' %}">
        <img src="{% static 'images/mmm_Final.png' %}" width="180" height="40" class="img img-rounded" />
      </a>
      <nav class="my-2 my-md-0 mr-md-3">
        {% if request.user.is_authenticated %}
        <a class="p-2 text-danger" href="{% url 'my_unsubscribe_list' %}">Unsubscriptions</a>
        <a class="p-2 text-danger" href="{% url 'user_campaign' %}">Campaigns</a>
        {% endif %}
        <a class="p-2 text-danger" href="{% url 'plans' %}">Plans</a>
        <a class="p-2 text-danger" href="{% url 'contact' %}">Contact</a>
      </nav>
      {% if not request.user.is_authenticated %}
      <a class="btn btn-outline-danger" href="{% url 'social:begin' 'google-oauth2' %}">Sign in</a>
      {% else %}
        <a class="text text-danger" href="{% url 'user_campaign' %}">{{request.user}}</a>
      {% endif %}
    </div>


   {% block content %}
   {% endblock %}

   <footer class="pt-3 my-md-4 pt-md-4 border-top">
     <div class="container">
       <div class="row">
         <div class="col-2 col-md text-left">
           <small class="text-muted">&copy; 2020-2021</small>
         </div>
         <div class="col-10 col-md text-right">
           <ul class="text-small list-inline">
             <li class="list-inline-item"><a class="text-muted" href="{% url 'index' %}">Home</a></li>
             <li class="list-inline-item"><a class="text-muted" href="{% url 'about' %}">About</a></li>
             <li class="list-inline-item"><a class="text-muted" href="{% url 'privacy' %}">Privacy</a></li>
             <li class="list-inline-item"><a class="text-muted" href="{% url 'terms' %}">Terms of use</a></li>
           </ul>
         </div>
       </div>
     </div>
   </footer>

   <script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
